*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

nav{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}

.mysite-logo{
  height: 70px;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}

.nav-item{
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 0px;
}

.nav-list-item{
  font-size: 16px;
  list-style: none;
  display: inline-block;
  margin: 0px 30px;
  color: #fafafa;
}

.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: 100% 100%;
}

.main-title{
  font-size: 64px;
  color: #fafafa;
  text-align: center;
  padding-top: 200px;
}

.sub-title{
  font-size: 20px;
  color: #fafafa;
  text-align: center;
  padding-top: 10px;
}

.portfolio{
  width: 100%;
  background-color: #eceff1;
  display: flex;
  justify-content: center;
}

.portfolio-content{
  width: 920px;
}

.portfolio-title{
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}